@import "./button.css";

@tailwind preflight;
@tailwind utilities;

.hero {
  width: 100%;
  color: #333;
}

.title {
  margin: 0;
  width: 100%;
  padding-top: 80px;
  line-height: 1.15;
  font-size: 48px;
}

.title, .description {
  text-align: center;
}

.row {
  max-width: 880px;
  margin: 80px auto 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  padding: 18px 18px 24px;
  width: 220px;
  text-align: left;
  text-decoration: none;
  color: #434343;
  border: 1px solid #9B9B9B;
}

.card:hover {
  border-color: #067df7;
}

.card h3 {
  margin: 0;
  color: #067df7;
  font-size: 18px;
}

.card p {
  margin: 0;
  padding: 12px 0 0;
  font-size: 13px;
  color: #333;
}

.loader-container {
  width: 480px;
  height: 293px;
}

.season-card {
  transition: all .15s ease;
}

.season-card:hover {
  transform: translateY(-5px);
}

.loading-state {
  width: 100%;
  height: 100%;

  border: 1px solid #d3d3d3;
  background-color: lightgray;
  opacity: 0.5;

  animation-name: slide;
  animation-delay: 1s;
  animation-duration: 2.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes slide {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.5;
  }
}
